/* Styling for Index */

/* Media Queries */



/* Styling Navigation Bar Logo */

.navbar-brand{
    background-color: #0BADA6;
    color: white;
    font-family:times new roman;
    font-weight: bold;
    margin-left: 30px;
	padding: 10px;	
	font-size: 25px;
}

/* Styling Navigation Bar*/

.navbar{
    max-height: 57px; 
	color: white;
    background-color: #0BADA6;
}


/* Styling HTML Body */
.body {
    background-color: lightgray;
}

.box {
    margin-top: 60px;
    margin-bottom: 62px;
    padding: 10px 20px 15px;
    color: black;
    background-color: white;
}

.title {
    color: #0BADA6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding-top: 25px;
}

.index_photo {
    width: 50% !important;
    height: 50% !important;
}

.active,
.panel:hover {
    border-color: #0BADA6;
    border-style: solid;
}

img {
    width: 100% !important;
    height: 100% !important;
}

/* Table */
  .table{
    font-size: 15px; 
    border-top-color: white !important; 
}

/* Styling Footer */
footer{
background-color: #666666; 
border-top-style: solid; 
border-top-width: 5px; 
border-top-color: #0BADA6;
color: white; 
min-height: 55px; 
font-family: Arial, Helvetica, sans-serif;
font-size: 15px; 
text-align: center; 
position: fixed;
left: 0;
bottom: 0;
width: 100%;
padding-top: 15px; 
}